body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.style{
  color: white;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  background-color: black;
  justify-content: space-around;
}
.active_class{
  color: white;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: black;
}
.active_class:hover{
  color: blue;
}

p{
  text-align: left;
  font-size: 20px;
  margin-left: 30px;
}
h1{
  text-align: center;
  font-family: sans-serif;
}
 span{
  text-align: center;
  justify-content: center;
  font-size: 50px;
  margin-left: 600px;
  color: white;
}
.err{
  font-size: 100px;
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
}
.style_err{
  background-color: black;
  height: 850px;
}
input{
  border: 2px solid black;
  border-radius: 3px;
  height: 40px;
  font-size: 20px;
  width: 250px;
  margin-top: 50px;
  margin-left: 770px;
  margin-bottom: 50px;
}
img{
  margin-left: 530px;
}